.three-columns-container {
  height: 150px;
}
.three-columns-container > .row {
  height: 30%;
}
.three-columns-container  > .row > .col {
  height: 100%;
}

.card-blue:hover {
  border-color: #0d6efd;
  color: #0d6efd;
  cursor: pointer;
  transition: all 1s;
}

.flash-msgs {
  height: 100px;
}

.hr-blurry {
  border: none;
  height: 1px;
  background: rgba(0, 0, 0, 0.9); /* Adjust color and transparency */
  filter: blur(1px); /* Creates the blurry effect */
  margin: 2rem 10rem; /* Optional: Adjust spacing */
}
